{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{% url 'tasks:login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a class="link" href="{% url 'tasks:signup' %}">Sign Up</a></p>
    </div>
{% endblock %}