{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <div class="container">
        <h2>Task List</h2>

        
        <form method="get" action="{% url 'tasks:task_list' %}">
            <input type="text" name="search" placeholder="Search by title">
            <button type="submit">Search</button>
        </form>

        <ul>
            {% for task in tasks %}
                <li>
                    <a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a>
                    {% if task.is_complete %} (Complete){% endif %}

                    
                    <a href="{% url 'tasks:task_update' task.id %}">Update</a>

                    
                    <a href="{% url 'tasks:task_delete' task.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}